
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Cryptocurrency Fear and Greed Index - UPDATED DAILY | #trendingnft | #trendingcrypto" name="description" />
<meta content="Invatu" name="author" />
<!-- App favicon -->
