<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CoinMarketCapAPIKey" value="a50a30c8-c6df-4cba-aa45-4cf06c99e413" />
        <add key="ConnectionString" value="server=cryptometerdb.mysql.database.azure.com;database=binancebot;user=dbadmin@cryptometerdb;password=TRT4FW}aRK~,h7-t;SslMode=Preferred" />
    </appSettings>
</configuration>