
@{
    ViewBag.Title = "Google Maps";
    ViewBag.pTitle = "Google Maps";
    ViewBag.pageTitle = "Maps";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Bar charts</h4>

                                    <div id="bar-charts" dir="ltr"></div>

                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Column charts</h4>

                                    <div id="column-charts" dir="ltr"></div>

                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Line charts</h4>

                                    <div id="line-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Area charts</h4>

                                    <div id="area-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Bubble charts</h4>

                                    <div id="bubble-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Scatter charts</h4>

                                    <div id="scatter-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Pie charts</h4>

                                    <div id="pie-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Donut pie charts</h4>

                                    <div id="donut-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Heatmap charts</h4>

                                    <div id="heatmap-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Treemap charts</h4>

                                    <div id="treemap-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Map charts</h4>

                                    <div id="map-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Boxplot charts</h4>

                                    <div id="boxplot-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Bullet charts</h4>

                                    <div id="bullet-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Radial charts</h4>

                                    <div id="radial-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>

               


            

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

    <!-- tui charts plugins -->
    <script src="~/assets/libs/tui-chart/tui-chart-all.min.js"></script>

    <!-- tui charts map -->
    <script src="~/assets/libs/tui-chart/maps/usa.js"></script>

    <!-- tui charts plugins -->
    <script src="~/assets/js/pages/tui-charts.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>



